@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 142 71% 45%; /* vivid green */
        --primary-foreground: 0 0% 98%;
        --secondary: 142 40% 96.1%;
        --secondary-foreground: 142 47% 11%;
        --muted: 142 40% 96.1%;
        --muted-foreground: 142 16% 47%;
        --accent: 142 40% 96.1%;
        --accent-foreground: 142 47% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 142 31.8% 91.4%;
        --input: 142 31.8% 91.4%;
        --ring: 142 83.2% 53.3%;
        --chart-1: 142 83.2% 53.3%;
        --chart-2: 142 70% 55.5%;
        --chart-3: 142 25% 26.7%;
        --chart-4: 142 33% 17.1%;
        --chart-5: 142 76% 48%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 142 47% 25%;
        --foreground: 142 40% 98%;
        --card: 142 47% 11%;
        --card-foreground: 142 40% 98%;
        --popover: 142 47% 11%;
        --popover-foreground: 142 40% 98%;
        --primary: 142 91% 40%; /* vivid green */
        --primary-foreground: 142 40% 98%;
        --secondary: 142 33% 17%;
        --secondary-foreground: 142 40% 98%;
        --muted: 142 33% 17%;
        --muted-foreground: 142 20% 65%;
        --accent: 142 33% 17%;
        --accent-foreground: 142 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 142 40% 98%;
        --border: 142 33% 20%;
        --input: 142 33% 20%;
        --ring: 142 76% 48%;
        --chart-1: 142 83.2% 53.3%;
        --chart-2: 142 70% 55.5%;
        --chart-3: 142 25% 26.7%;
        --chart-4: 142 33% 17.1%;
        --chart-5: 142 76% 48%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}